{% extends 'main/base.html' %}
{% load static %}

{% block external %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-7 ml-1">
{#    <p style="font-weight: bold">#}
{#        Будем честны: резюме не главное при устройстве на работу. Человека с уникальными опытом и компетенциями#}
{#        пригласят на собеседование, даже если его резюме составлено на салфетке. Другое дело, если к категории#}
{#        редких суперпрофессионалов вы пока не относитесь. Тогда шанс встретить конкурентов в борьбе за работу мечты#}
{#        возрастает, а качество резюме выходит на первый план.#}
{#    </p>#}

    <h1 class="mt-3">Фото и контакты</h1>
    <p>
        Фотография в резюме всегда будет плюсом, даже если должность не предполагает общения с людьми. Фото сделает
        резюме персонализированным: ее легче заметить, а отклик с фото сложнее пропустить или удалить.
        Но выбирать портрет для резюме нужно критически: неудачное фото может все испортить. Лучше всего подойдет
        профессиональное портретное фото, деловое и нейтральное.
        <br><br>
        В разделе контакты обратите внимание на почтовый ящик — он должен соответствовать профессиональному статусу.
        Адрес kisulya1987@mail.ru подчеркнет неделовой подход к работе. А вот angelina.vavilonova@gmail.com
        — уже лучше. Вообще есть целый ряд мелочей, которые способны испортить впечатление о резюме.
        <br><br>
        Некоторые соискатели указывают в резюме свой домашний адрес вплоть до конкретной квартиры.
        Достаточно указать город или ближайшее метро.
    </p>

    <h1>Опыт работы</h1>
    <p>
        Если вы не начинающий специалист, то опыт — главная часть резюме. Подойдите к этому разделу с особой тщательностью.
    </p>

        <ul>
            <li>
                Опыт должен выглядеть цельным, то есть без длительных перерывов в карьере. Если перерывы были, то они должны
                иметь объяснения: декретный отпуск, занятие бизнесом, фриланс и так далее.
            </li>

            <li>
                Если вы меняете место работы чаще раза в год, работодателя это насторожит. Вас повысили — напишите об этом
                в одном блоке.

            <li>
                Уделите внимание последним трем годам работы, это интересует работодателей в первую очередь. О начальных
                этапах карьеры и о том, что было больше 10 лет назад, можно рассказать совсем кратко.
            </li>

            <li>
                Если компания неизвестна на рынке, укажите ее род деятельности. Не просто ООО «Ромашка», а «Черноморское
                отделение арбатовской конторы по заготовке ромашек». Деятельность компании можно кратко описать в скобках
                или в блоке обязанностей.

            <li>
                В названии резюме и заголовках пишите общепринятые на рынке названия должностей, не обязательно копировать
                то, что написано в трудовой книжке — главное суть. Например, «коммерческий директор» лучше, чем туманное
                «руководитель направления». «Руководитель проекта» выглядит универсальнее, чем «управляющий директор
                бизнес-единицы». Такое резюме работодатели быстрее найдут через поиск.
            </li>

            <li>
                Никогда не копируйте список обязанностей из должностных инструкций. Выделите наиболее важные и запишите
                понятным языком, без канцеляризмов. Например, «оптимизация бизнес-процессов» вместо «реализация проектной
                деятельности по оптимизации бизнес-процессов». Пяти-десяти самых ключевых задач будет достаточно.
            </li>

            <li>
                Помимо рабочих обязанностей, обязательно укажите ваши конкретные достижения и результаты деятельности
                (например, «совместно с ИТ-отделом разработал корпоративные стандарты контроля бизнес-процессов»).
            </li>
        </ul>

    <p>
        <br>
        Избегайте общих фраз вроде «был самым трудолюбивым работником отдела» — это мнение, которое невозможно
        проверить, поэтому оно не интересно работодателю. А вот «стал лучшим сотрудником отдела по итогам года» —
        полезная строчка.
        <br><br>
        Иногда соискатели описывают работу в той или иной компании, будто пишут главу из собственной биографии:
        «Здесь я начинал карьеру с низших должностей, усердно добиваясь повышения» или «При беглом знакомстве можно
        подумать, что работа давалась мне легко, но на самом деле было ровно наоборот». Эти примеры — эталон того,
        как не надо описывать опыт. Резюме сработало, если работодатель за несколько секунд разобрался в опыте и понял,
        что этот кандидат стоит более внимательного изучения. А продемонстрировать энтузиазм можно в сопроводительном
        письме.
    </p>


    <h1>Образование</h1>
    <p>
        Все указанные в резюме образовательные курсы должны относиться к профессиональной деятельности.
        Лучше упустить что-то, чем добавлять сомнительные сертификаты — например, о курсах по массажу — если в работе
        эти знания не нужны.
        <br><br>
        О тернистом пути наверх всегда лучше рассказать на собеседовании. Поэтому можно опустить учебу в техникуме
        или ПТУ, если есть диплом о высшем образовании в той же сфере.
    </p>

    <h1>Ключевые навыки</h1>
    <p>
        Многие соискатели полностью игнорируют этот раздел, а зря: часто именно сюда смотрит рекрутер после знакомства
        с опытом и образованием кандидата. Ключевые навыки — это специфические знания и умения, относящиеся
        непосредственно к рабочим процессам. Для юристов это могут быть «Арбитражные суды» и «Корпоративное право»,
        для менеджера по логистике «Работа с таможенными органами» и «Инкотермс», для финансиста —
        «Статистический анализ» и «Бюджетирование», и так далее.
        <br><br>
        Избегайте очевидных вещей: не нужно писать, что вы знаете Windows, Internet Explorer и пользуетесь электронной почтой.
    </p>

    <h1>Обо мне</h1>
    <p>
        Часто соискатели путают навыки с личностными качествами. Так в навыках оказываются «Ответственность»
        или «Пунктуальность». Советуем написать об этих качествах в разделе «Обо мне» и избегать банальностей.
        Вместо «Ответственности» и «Пунктуальности» напишите «Добросовестно отношусь к выполнению задач» и
        «Всегда укладываюсь в обещанные сроки». Суть от этого не поменяется, но формулировка запомнится.
        <br><br>
        В некоторых случаях можно указать личностные качества, которые не относятся напрямую к профессии — это
        может быть хорошая физическая форма или спортивные достижения («КМС по лыжным гонкам»). Все то же самое
        относится и к достижениям в интеллектуальной сфере. Если вы чемпион города по шахматам или выиграли олимпиаду
        по программированию — это интересно. Если просто увлекаетесь чтением, то нет. Добавляйте только то, что поможет
        получить работу.
        <br><br>
        А вот хобби в большинстве случаев лучше совсем не указывать. Рекрутеру оно не интересно,
        а экзотические занятия (вроде эзотерики и даже йоги) и вовсе могут отпугнуть.
    </p>

    <h1>Как писать</h1>
    <p>
        Итоговый текст резюме должен представлять собой выжимку, из которой убрано все, что в принципе можно убрать без
        потери смысла: вводные слова, эпитеты, причастные и деепричастные обороты, лишние отглагольные прилагательные
        и существительные. Чем короче и проще предложения, тем лучше.
    </p>

    <h1>Ключевые слова</h1>
    <p>
        Вставляйте в свое резюме слова-маркеры, по которым рекрутер сможет его отыскать через поиск. Например,
        если вы аудитор и работаете с оффшорными компаниями, то в вашем резюме обязательно должно встречаться
        слово «оффшоры».
        <br><br>
        Подумайте над тем, какие ключевые слова относятся к вашей профессии, представив, какие термины
        рекрутер будет использовать при поиске резюме. Используйте информацию из интересных вам вакансий.
    </p>

    <h1></h1>
    <p></p>

    <h1></h1>
    <p></p>

</div>
{% endblock %}